.header {
  background-color: var(--dark-blue);
}

.navLink {
  color: var(--bWhite);
  font-weight: 500;
}
.navLink:hover {
  color: var(--bWhiteT);
}

.navSearch {
  background-color: var(--bWhiteT);
  border: var(--bWhite);
  color: var(--dark-blue);
}


.btn-outline-secondary {
  background-color: var(--bWhite);
  color: var(--dark-blue);
  border-color: var(--bWhite);
}
.btn-outline-secondary:hover {
  background-color: var(--bWhiteT);
  color: var(--bWhite);
  border-color: var(--bWhite);
}